<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Getting Started: Serving Web Content</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h1>th:text="${message}"</h1>&ndash;&gt;-->
<!--<p>Stocks Information</p>-->
<!--&lt;!&ndash;<p th:text="'Message: ' + ${message} + '!'" />&ndash;&gt;-->
<!--&lt;!&ndash;<p th:text="'Message, ' + ${message} + '!'" />&ndash;&gt;-->
<!--</body>-->
<!--</html>-->